@charset "UTF-8";

/*
    Em HTML é id = Em CSS é # (só pode um elemento)
    Em HTML é class = Em CSS é . (pode vários elementos)
    O id sobrepoe o Class
*/

body{
    
    background-color: #c0fae7;
    font-family: Arial, Helvetica, sans-serif;
}


h1#principal{
    text-align: center;
    font-weight: bolder;
    font-size: 3em;
    background-color: #0b9667;
    color: #ffffff;
}

.basico{
    color: #0b9667;
    font-weight: bold;
}

.intermediario{
    color: #94960b;
}

.avancado{
    color: #96100b;
}

.destaque{
    background-color: #94960b65;
}

h1{
    color: #1c3f05;
}

h2{
    color: #0b9667;
}

p{
    text-align: justify;
}

div:hover{
    background-color: beige;
}