@charset "UTF-8";

body{
            background-color: wheat;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 20px;
        }

        h1{
            background-color: yellowgreen;
            color: rgb(105, 04, 04);
            text-align: center;
        }

        h2{
            color: maroon;
            text-align: center;
        }

        p{
            text-align: justify;
        }