
h1{
  margin: 0;
  padding: 20px 0;
  color: white;
  text-shadow: 3px 3px 1px rgba(128, 128, 128, 0.363);
  color: aliceblue;
  text-align: center;
}

html{
background-color: black;}

img{
  margin: 0 auto; 
  display:inline-block;
}

p{
  text-align: center;
}



