h1{
    color: white;
    text-align: center;
}

h1{
    margin: 0;
  padding: 20px 0;
  color: white;
  text-shadow: 3px 3px 1px rgba(21, 255, 0, 0.219);
}

html{
    background-color: rgb(14, 14, 14);
}

img{
    display: block;
    margin: 0 auto;
}

div.video{
    text-align: center;
}