@charset "UTF-8";

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: dimgray;
    margin: 0px;
}

header{
    background-color: white;
    padding: 10px;
    margin: 10px;
}

h1{
    box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.233);
}

nav{
    background-color: rgb(143, 143, 143);
    padding: 3px;
    box-shadow: 6px 7px 4px 1px rgba(0, 0, 0, 0.144);
}

nav > a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin-right: 30px;
}

nav > a:hover{
    text-decoration: underline;
    color: lightgrey;
}
main{
    background-color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 15px 0px;
    box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.123);
}

article{
    background-color: lightgrey;
    padding: 5px;
}

article > aside{
    background-color: rgb(175, 175, 175);
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 4px;
    margin: 0px;
}

footer > p{
    margin: 0px;
}

div#bola{
    height: 100px;
    width: 100px;
    margin: 10px;
    background-color: white;
    border-radius: 50%;
}

div > p{
    font-size: 5em;
    color: aqua;
    margin: 0px;
}