@charset "UTF-8";
* {
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(to left, #00939C, #10ABB4);
}

main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #0a6b7049;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    color: #502000;
    text-align: center;
    text-shadow: 1px 1px 2px #3d18008a;
}

h2{
    color: #9C3E00;
}

p{
    text-align: justify;
}