@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

body{
    background-color: darkgrey;
}

header > h1{
    font-size: clamp(1.8rem, calc(7vw + 1rem), 4.5rem);
    font-family: 'Garamond', serif;
    padding-top: 80px;
}

main h1{
    font-size: clamp(1.8rem, calc(7vw + 1rem), 4.5rem);
    font-family: 'Garamond', serif;
    text-align: center;
    padding-top: 10px;
}

main h2{
    font-family: 'Garamond', serif;
    font-size: clamp(1.0rem, calc(3vw + 1rem), 2rem);
}

header{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.253), rgba(83, 0, 0, 0.219));
    text-align: center;
    margin: auto;
    max-height: 10px;
    padding-bottom: 250px;
}

main{
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 0px 20px 20px 20px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.404);
    border-radius: 0px 0px 10px 10px;
}

img{
    width: 100%;
    height: auto;
    margin-top: 30px;
    aspect-ratio: 2.5/1.5;
    object-fit: revert;
}

p.principal{
    font-size: 0.8em;
    font-style: italic;
    margin: 0;
    line-height: normal;
    text-indent: 0;
}

p{
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    font-size: 1.3em;
    line-height: 1.5em;
}

ul{
    font-size: 1.4em;
    list-style-type: '\2714\00A0\00A0' disc;
    list-style-position: inside;
    columns: 1;
    line-height: 2em;
}